.swiper {
  width: 100%;
  border: none;
  // margin: auto;
  // overflow:visible;
}
.slider {
  display: flex;
  gap: 16px;
  height: 464px;

  &__main-photo {
    height: 100%;
    width: 368px;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: opacity 0.3s ease-in-out;
      opacity: 1;

      &.hidden {
        opacity: 0;
      }
    }
  }

  &__preview-pictures {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;

    &-img {
      height: 80px;
      width: 80px;
      object-fit: contain;
      cursor: pointer;
      transition: transform 0.3s;
      padding-top: 5px;

      &.selected {
        transform: scale(1.2);
        z-index: 1;
      }
    }
  }
  @media (max-width: 1199px) {
    &__main-photo {
      height: 287px;
    }
    &__preview-pictures {
      height: 287px;
      &-img {
        height: 50px;
        width: 50px;
      }
    }
  }

  @media (max-width: 639px) {
    flex-direction: column-reverse;
    height: auto;
    .swiper {
      height: 80px;
    }

    &__main-photo {
      width: 288px;
      height: 288px;
    }

    &__preview-pictures {
      flex-direction: row;
      height: 49px;

      &-img {
        height: 49px;
        width: 49px;
      }
    }
  }
}
.swiper-vertical {
  height: 100%;
}