@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

$mainFont: Mont, sans-serif;

.component {
  display: flex;
  justify-content: center;

  &__container {
    width: 1136px;
  }

  &__header {
    margin-top: 24px;
  }

  &__title {
    font-family: $mainFont;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #313237;
    margin: 40px 0 0;
  }

  &__models-number {
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #89939a;
    margin: 8px 0 0;
  }

  &__list-params {
    display: flex;
    margin: 40px 0 0;
  }

  &__wrap {
    margin: 24px 0 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
  }

  &__nav-wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

.path {
  display: flex;
  width: 93px;
  height: 16px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  &__home-image {
    width: 16px;
    height: 16px;
    display: flex;
  }

  &__arrow {
    display: flex;
  }

  &__page {
    width: 45px;
    height: 15px;
    gap: 0;
    font-family: $mainFont;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    color: #89939a;
    line-height: 16px;
  }
}

.list-params {
  &__sort-by {
    margin: 0;
    margin-right: 16px;
    position: relative;
  }

  &__items-on-page {
    margin: 0;
    position: relative;
  }

  &__sort-title {
    margin: 0;
    font-family: $mainFont;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.34px;
    text-align: left;
    color: #89939a;
  }
}

.select-arrow-down {
  position: absolute;
  top: 29px;
  right: 12px;
  pointer-events: none;
  background-image: url('/Icons/Chevron (Arrow Down).svg');
  width: 16px;
  height: 16px;
}

.select-arrow-up {
  position: absolute;
  top: 29px;
  right: 12px;
  pointer-events: none;
  background-image: url('/Icons/Chevron (Arrow Up).svg');
  width: 16px;
  height: 16px;
}

.example {
  width: 272px;
  height: 506px;
  border: 1px solid #e2e6e9;
  transition: 300ms;
  box-sizing: border-box;
}

.nav-wrap {
  &__arrow-back {
    background-image: url('/Icons/Chevron (Arrow Right)Dark.svg');
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #b4bdc3;
    box-sizing: border-box;
    margin-right: 12px;
    background-color: #ffffff;

    &:hover {
      border-color: #313237;
    }

    &:active {
      background-color: #313237;
      background-image: url('/Icons/Chevron (Arrow Left).svg');
    }
  }

  &__arrow-next {
    background-image: url('/Icons/Chevron (Arrow Right)Dark.svg');
    transform: rotate(180deg);
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #b4bdc3;
    box-sizing: border-box;
    margin-left: 12px;
    background-color: #ffffff;

    &:hover {
      border-color: #313237;
    }

    &:active {
      background-color: #313237;
      background-image: url('/Icons/Chevron (Arrow Right).svg');
      transform: none;
    }
  }

  &__page {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px solid #b4bdc3;
    text-align: center;
    line-height: 30px;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 600;
    margin: 0 4px;
    color: #313237;
    background-color: #ffffff;

    &.active {
      background-color: #070e31;
      color: #ffffff;
    }

    &:hover {
      border-color: #313237;
    }

    &:active {
      border-color: #313237;
      background-color: #070e31;
      color: #ffffff;
    }

    &:active {
      background-color: #070e31;
      color: #ffffff;
    }
  }
}

@media (max-width: 1199px) {
  .component__container {
    width: 896px;
  }

  .component__list {
    grid-template-columns: repeat(3, 1fr);
    width: 896px;
  }

  .component__wrap {
    display: flex;
    justify-content: center;
  }

  .example {
    width: 288px;
  }
}

@media (max-width: 930px) {
  .component__container {
    width: 570px;
  }

  .component__list {
    grid-template-columns: repeat(2, 1fr);
    width: 570px;
  }

  .example {
    width: 230px;
  }
}

@media (max-width: 540px) {
  .component__container {
    width: 287px;
  }

  .component__list {
    grid-template-columns: repeat(1, 1fr);
    width: 287px;
  }

  .example {
    width: 287px;
    height: 440px;
  }

  .select {
    width: 135px;
  }

  .list-params__sort-by {
    margin-right: 17px;
  }
}
