@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
$menuFont: Mont, sans-serif;
.circleWrap {
  position: relative;
}

.burger-circle {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px white;
  border: 1px solid #eb5757;
  border-radius: 50%;
  background-color: #eb5757;
  color: white;
  text-align: center;
  line-height: 14px;
  top: -6px;
  right: -6px;
  height: 13px;
  width: 13px;
  font-size: 8px;
}

.burger-menu {
  position: relative;
  overflow: hidden;

  &__icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 16px;
    border-left: 1px solid #e2e6e9;

    @media (min-width: 640px) {
      display: none;
    }
  }

  &__logo {
    padding: 13px 16px;
    box-sizing: border-box;
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    font-family: $menuFont;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e2e6e9;
    height: 48px;
  }

  &__close {
    border-left: 1px solid #e2e6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    cursor: pointer;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    flex-grow: 1;
  }

  &__item {
    padding: 16px;
  }

  &__link {
    text-decoration: none;
    color: #89939a;
    padding: 8px 0;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      color: #313237;
    }
  }
  .is-active {
    position: relative;

    color: #313237;

    &.is-active::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: red;
      border-radius: 8px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__icon-footer {
    width: 50%;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #e2e6e9;
    box-sizing: border-box;
    padding: 24px 72px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

    &.is-active::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background-color: #313237;
      border-radius: 8px;
    }
  }
}
