:root {
  --font-family: 'Mont', sans-serif;

  --color-primary: #313237;
  --color-secondary: #89939a;
  --color-elements: #e2e6e9;
  --color-icons: #b4bdc3;
  --color-white: #ffffff;
  --color-green: #27ae60;
  --color-black: #000000;

}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

.item {
  display: flex;
  align-items: center;
  width: 752px;
  height: 128px;
  padding: 24px;
  border: 1px solid var(--color-elements);
  border-radius: 1px;
  box-sizing: border-box;
  background-color: var(--color-white);

  @media (max-width: 641px) {
    flex-direction: column;
    width: 288px;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
  }

  &_desc {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    @media (max-width: 641px) {
      display: flex;
      flex-direction: row;
    }
  }

  &_image__cross {
    margin: 32px 24px 32px 0;
    cursor: pointer;

    @media (max-width: 641px) {
      margin: 32px 16px 32px 0;
    }
  }

  &_image__phone {
    width: 66px;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    padding: 7px;
  }

  &_name {
    width: 336px;
    height: 42px;
    margin: 43px 24px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--color-primary);

    @media (max-width: 641px) {
      align-items: center;
      width: 128px;
      height: 100%;
      padding: 8.5px 0 8.5px 16px;
      margin: 0;
      text-align: right;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &_counter {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    @media (max-width: 641px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 256px;
      margin-top: 16px;
    }
  }

  &_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-icons);
    background-color: var(--color-white);
    cursor: pointer;

    &:hover {
      border: 1px solid var(--color-primary);
    }

    &:disabled {
      border: 1px solid var(--color-elements);
      cursor: not-allowed;
    }

    &:disabled .item_button__image-black {
      display: none;
    }

    &:not(:disabled) .item_button__image-gray {
      display: none;
    }

    &__image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    &__subtract {
      margin-right: 13px;
    }

    &__add {
      margin-left: 14px;
    }
  }

  &_count {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--font-family);
    font-weight: 600;
    text-align: center;
    color: var(--color-black);
  }

  &_price {
    max-width: 80px;
    height: 31px;
    padding-left: 19px;
    margin-left: 24px;
    font-size: 22px;
    line-height: 30.8px;
    font-family: var(--font-family);
    font-weight: 800;
    text-align: right;
    color: var(--color-primary);

    @media (max-width: 641px) {
      padding: 0;
      margin: 0;
    }
  }
}