@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.footer {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;

  @media (max-width: 641px) {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__item {
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 0.04em;
    font-family: Mont, sans-serif;
    font-weight: bold;
    color: #89939a;
  }
  &__link {
    text-transform: uppercase;
  }

  &__logo-link {
    padding-left: 50px;
    @media (max-width: 641px) {

      height: 32px;
    }
  }

  &__links {
    display: flex;
    gap: 50px;
    justify-content: center;

    @media (max-width: 641px) {
      padding-left: 50px;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.back-to-top {
  display: flex;
  flex-direction: row;
  line-height: 11px;
  justify-content: center;
  align-items: center;
  padding-right: 50px;

  @media (max-width: 641px) {
    align-self: center;
  }

  &__link {
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  &__logo {
    margin-left: 16px;
  }

  &__text {
    line-height: 11px;
  }
}
