@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 640px) and (max-width: 1199px) {
    @content;
  }
}

@mixin on-phone {
  @media (min-width: 320px) and (max-width: 639px) {
    @content;
  }
}


@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 152px;
  font-family: Mont, sans-serif;
  color: #313237;

  @include on-tablet {
    margin: 32px 24px;
  }
  @include on-phone {
    margin: 24px 16px;
  }

  &__title-h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;

    @include on-tablet {
        width: 592px;
        font-size: 48px;
        line-height: 56px;
      }
    
      @include on-phone {
        width: 288px;
        font-size: 32px;
        line-height: 41px;
      }
  }

    &__title-h2 {
      font-size: 32px;
      line-height: 41px;
      margin: 24px;

      @include on-phone {
          font-size: 22px;
          line-height: 30px;
        }
    }
  }
     
  .slider-container {
       width: 100%;
       height: 432px;
       display: flex;
       justify-content: center;
       align-items: center;

       @include on-phone {
        display: block;
       }
     }

  .new-models-container {
    width: 100%;
    height: 571px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hot-prices-container {
    width: 100%;
    height: 571px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .categories {
      display: flex;
      justify-content:center;
      align-items: center;
      width: 100%;
  
      &__items {
        gap: 16px;
        display: grid;

        @include on-desktop {
            grid-template-columns: repeat(3, 1fr);
          }
        @include on-tablet {
         grid-template-columns: repeat(3, 1fr)
         }
        @include on-phone {
         grid-template-columns: repeat(1, 1fr);
        }

      }
     &__bottom {
       margin-top: 24px;
     }
            
     &__name {
       margin: 0;
       color: #313237;
       font-weight: 600;
       font-size: 20px;
       line-height: 25px;
     }
            
     &__description {
       margin: 0;
       font-size: 14px;
       line-height: 21px;
       color: #89939A;
     }
      &__item {
        display: flex;
        text-decoration: none;
        flex-direction: column;
        margin-bottom: 24px;
  
        .categories__image {
          background-size: cover;
          background-position: center;
          
          &--phones {
              background-image: url('/src/Pages/HomePage/img/width1200/Phones.png');
              height: 368px;
              width: 368px;
            }
          
            &--tablets {
              background-image: url('/src/Pages/HomePage/img/width1200/Tablets.png');
              height: 368px;
              width: 368px;
            }
          
            &--accessories {
              background-image: url('/src/Pages/HomePage/img/width1200/Accessories.png');
              height: 368px;
              width: 368px;
            }

            @include on-tablet {
              &--phones {
                  background-image: url('/src/Pages/HomePage/img/width640/Phones.png');
                  height: 187px;
                  width: 187px;
                }
              
                &--tablets {
                  background-image: url('/src/Pages/HomePage/img/width640/Tablets.png');
                  height: 187px;
                  width: 187px;
                }
              
                &--accessories {
                  background-image: url('/src/Pages/HomePage/img/width640/Accessories.png');
                  height: 187px;
                  width: 187px;
                }
            }
            @include on-phone {
              &--phones {
                  background-image: url('/src/Pages/HomePage/img/width320/Phones.png');
                  height: 288px;
                  width: 288px;
                }
              
                &--tablets {
                  background-image: url('/src/Pages/HomePage/img/width320/Tablets.png');
                  height: 288px;
                  width: 288px;
                }
              
                &--accessories {
                  background-image: url('/src/Pages/HomePage/img/width320/Accessories.png');
                  height: 288px;
                  width: 288px;
                }
            }
        }

        
      }
    }